.header {
  background-color: #010101c8;
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: .8em 2em; }
  .header a .logo {
    height: 60px; }
  .header .nav .nav-links {
    display: flex;
    gap: 1em; }
    .header .nav .nav-links li {
      padding-top: 10px; }
    .header .nav .nav-links a {
      font-size: 18px;
      color: #e1e1e1;
      cursor: pointer;
      position: relative;
      border: none;
      background: none;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: color; }
    .header .nav .nav-links a:focus,
    .header .nav .nav-links a:hover {
      color: #ffffff; }
    .header .nav .nav-links a:focus:after,
    .header .nav .nav-links a:hover:after {
      width: 100%;
      left: 0%; }
    .header .nav .nav-links a:after {
      content: "";
      pointer-events: none;
      bottom: -4px;
      left: 50%;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: #1f453d;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: width, left; }

.hero {
  position: relative;
  /* background-image:
        linear-gradient(#0000008e, #00000084), url("../images/video-fondo.mp4"); */
  /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
  display: flex;
  flex-direction: column;
  height: 100vh; }
  .hero h1 {
    color: #dedede;
    font-size: 6em;
    text-shadow: 0px 0px 3px #000000;
    z-index: 99;
    padding-left: 1em; }
  .hero .hero-texto {
    padding-top: 2em;
    color: #d4d4d4;
    font-size: 3em;
    z-index: 99;
    padding-left: 2em;
    text-shadow: 0px 0px 3px #000000; }
  .hero .video-fondo {
    position: absolute;
    width: 100vw;
    object-fit: cover; }
  .hero .animated-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 20px;
    background-color: #298974;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0px 0px 2px #000000;
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    margin-left: 100px; }
  .hero .animated-button svg {
    position: absolute;
    width: 34px;
    fill: #ffffff;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
  .hero .animated-button .arr-1 {
    right: 16px; }
  .hero .animated-button .arr-2 {
    left: -25%; }
  .hero .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #d4d4d4;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
  .hero .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
  .hero .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #00653e;
    border-radius: 12px;
    text-shadow: none; }
  .hero .animated-button:hover .arr-1 {
    right: -25%; }
  .hero .animated-button:hover .arr-2 {
    left: 16px; }
  .hero .animated-button:hover .text {
    transform: translateX(12px); }
  .hero .animated-button:hover svg {
    fill: #00653e; }
  .hero .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow; }
  .hero .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1; }

.curso-programa-container {
  padding: 5em 200px;
  width: 100vw;
  max-width: 100em;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  padding-bottom: 5em; }
  .curso-programa-container .titulo-programa {
    display: flex;
    align-items: center;
    color: #d5d5d5;
    background-color: #1f453d;
    margin: 0;
    padding: 0.5em 20px;
    border-radius: 10px 10px 0 0; }
    .curso-programa-container .titulo-programa i {
      margin: 0 0 0 10px; }
  .curso-programa-container .accordion-body {
    background-color: #1f453d; }
  .curso-programa-container .accordion-button {
    background-color: #0f7962;
    color: #ffffff; }
  .curso-programa-container .contenido li {
    font-size: 1.1em;
    color: #d5d5d5; }

.equipo-container {
  height: 85vh;
  padding: 4em 2em 0 2em;
  background-image: linear-gradient(#000000b4, #000000b5), url("../images/fondo6.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .equipo-container .foto-descripcion {
    display: flex;
    justify-content: center;
    align-items: center; }
    .equipo-container .foto-descripcion .profesor {
      height: 400px;
      cursor: pointer;
      padding: 1em; }
    .equipo-container .foto-descripcion p {
      color: #ffffff;
      padding: 1em;
      font-size: 1.5em;
      text-shadow: 2px 2px 10px #000000; }

.verificaciones {
  width: 100%;
  padding: 1em 2em;
  background-color: #2b2b2b; }
  .verificaciones .graduado {
    display: flex; }
  .verificaciones .experiencia {
    display: flex; }
  .verificaciones i {
    color: #ffffff;
    font-size: 24px;
    padding-right: 1em; }
  .verificaciones p {
    color: #ffffff; }

footer {
  padding: 1em;
  background-color: #1f453d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff; }
  footer p {
    font-style: italic; }
  footer ul {
    display: flex;
    align-items: center; }
    footer ul li {
      margin: 0 .5em; }
      footer ul li .bx-right-arrow-alt {
        font-size: 1.5em;
        padding-right: 1em;
        padding-left: .3em; }
      footer ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 2.5em; }
        footer ul li a i {
          cursor: pointer; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  overflow-x: hidden; }

.show {
  opacity: 1; }
