@import 'variables';
@import 'header';
@import 'hero';
@import 'programa';
@import 'equipo';
@import 'footer';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.show {
  opacity: 1;
}