.header {
    background-color: #010101c8;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: .8em 2em;

    a {
        .logo {
            height: 60px;
        }
    }

    .nav {

        .nav-links {
            display: flex;
            gap: 1em;

            li{
                padding-top: 10px;
            }
            a {
                font-size: 18px;
                color: #e1e1e1;
                cursor: pointer;
                position: relative;
                border: none;
                background: none;
                transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                transition-duration: 400ms;
                transition-property: color;
            }

            a:focus,
            a:hover {
                color: #ffffff;
            }

            a:focus:after,
            a:hover:after {
                width: 100%;
                left: 0%;
            }

            a:after {
                content: "";
                pointer-events: none;
                bottom: -4px;
                left: 50%;
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: #1f453d;
                transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                transition-duration: 400ms;
                transition-property: width, left;
            }
        }
    }
}